@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Gugi&display=swap');

/* header 부분 */
#teamname{
font-size: 25px;
border: none; 
background: transparent;
color: white;
}
#teammember{
border: none; 
background: transparent;
color: white;
position: relative;
left:73%;
}

/* body 부분 */
body{
	margin: 0;
}
#wrap{
	width: 100vw;
	height: 100vh;
	color: white;
	font-size: 2vw;
}
#header{
	width :100%;
	height :5%;
	background-color: rgba(37,48,78,1);
}
#signup {
	width: 100%;
	height: 95%;
	text-align: center;
}
.logo{
	width: 20%;
	height: auto;
	position:absolute;
	top:35%; 
	left:50%;
	transform:translate(-59%, -50%); 	
}
#footer {
	position:relative;
	top : 157px;
	width: 100%;
	height: 5%;
	background-color: rgba(37, 48, 78, 1);
}



/*버튼*/
.btn {
	float: left;
	width: 14vw;
	height: 7vh;
	font-size: 1vw;
	text-align: center;
	cursor: pointer;
	position: absolute;
	border: none;
	background: transparent;
	color: white;
	background-color: rgba(37, 48, 78, 1);
	border-radius: 10px;
}
.btn:focus{
	background-color:rgba(255, 187, 0, .5);
	color:rgba(0,0,0,1);
}
.btn.login{
	position:absolute; 
	top:73%; 
	left:40%; 
	transform:translate(-60%, -50%); 
}
.btn.sign{
	position:absolute; 
	top:73%; 
	left:60%; 
	transform:translate(-60%, -50%); 
}
.gtxt{
	margin: 2%;
	position: relative;
	top : 1vw;
	width: 15vw;
	height: 2.5vw;
	border-radius: 30px;
}

/*서버에서 message날라올 때 box css*/
#messagebackground{position:absolute; top:0;left:0;
	width:100vw; height:100vh;
	background-color:rgba(0, 0, 0, 0.7);
}
#messageBox{position:absolute; top:40%; left:50%; 
	width:30vw; height:37.5vh; transform:translate(-50%, -50%);
	background-color: rgba(0, 16, 84, 1);
	border:1rem solid rgba(255, 187, 0, 1); border-radius:0.5rem;
	font-family:'Do Hyeon', sans-serif; font-size: 1.5vw;
	text-align:center;
}
#messageTitle{position:relative;
	width:100%; height:20%;
	background-color:rgba(255, 187, 0, 1);
	font-size: 1.8vw;font-weight:900;line-height:calc(37.5vh*0.2);
}
#messageZone{position:relative;
	width:100%; height:60%;
}
#messageContent{position:relative;top:51.5%;left:50%;
	width:97%; height:90%; transform:translate(-50%, -50%);
	border-radius:0.5rem;
	color:black;
	background-color:rgba(255, 255, 255, 1);
}
#messageAction{position:relative;
	width:100%; height:20%;
	border-radius:0 0 0.5rem 0.5rem;
	background-color:rgba(0, 16, 84, 1);
}
.button	{position:relative;top:50%;left:50%;
	width:97%; height:80%; transform:translate(-50%, -50%);
	border-radius:0.5rem; line-height:calc(37.5vh*0.16);
	background-color: rgba(140, 140, 140, 1);
	color:rgba(255, 255, 255, 1); 
}
.button:hover{
	background-color:rgba(255, 187, 0, 1);
	cursor:pointer;
}

/*communicationBox는 storeStep0.jsp empStep0.jsp에서 쓰는데 우리는 일단 적용 안함 */
#communicationBox{
	position:relative; top:50%; left:50%; 
	width:40vw; height:50vh; transform:translate(-50%, -50%);
	background-color : rgba(0,0,0,.3);
	text-align:center;line-height:50vh;
}
#communicationBox.tripple{
	position:absolute; 
	height:50vh; transform:translate(-50%, -50%);
}
#communicationBox.double{
	height:33vh; transform:translate(-50%, -50%);
	line-height : 33vh;
}
#communicationBox.single{
	height:18vh; transform:translate(-50%, -50%);
	line-height : 18vh;
}
#inputZone{
	width:40vw;height:39vh;line-height:12vh;
}
.box.big {margin-top:3.5%;
	width:90%; height:30%; 
	border:1px solid rgba(255,255,255,1); border-radius:0.5rem;	outline:none;
	background-color: rgba(0,0,0,.6); color:rgba(255, 187, 0, 1);
	font-family: 'Do Hyeon', sans-serif;	font-size: 2.5vw;
	text-align:center;
}
.box.big:focus{
	background-color:rgba(255, 187, 0, .5);
	color:rgba(0,0,0,1);
}